{% load static %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='slim' %}
{% load widget_tweaks %}

<!doctype html>
<html lang="jp">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  	{% block header %}
   {% endblock %}
    <title>{% block title %}{% endblock %}</title>
     {% block javascript %}{% endblock %}
  </head>
  <body>
     <nav class="navbar navbar-expand-md  navbar-light bg-light">
        <a class="navbar-brand" href="/">LOGO</a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#bs-navi" aria-controls="bs-navi" aria-expanded="false" aria-label="Toggle navigation">
           <span class="navbar-toggler-icon"></span>
        </button>

        {% if user.is_authenticated %}
        <div class="collapse navbar-collapse" id="bs-navi">
           <ul class="navbar-nav mr-auto">
              <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">ホーム</a></li>

              <li class="nav-item dropdown">
                 <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">test</a>
                 <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'app00:index' %}">test00</a>
                    <a class="dropdown-item" href="{% url 'app01:index' %}">test01</a>
                    <a class="dropdown-item" href="{% url 'app02:index' %}">test02</a>
                    <a class="dropdown-item" href="{% url 'app03:index' %}">test03</a>
                    <a class="dropdown-item" href="{% url 'app04:index' %}">test04</a>
                 </div>
              </li>

              <li class="nav-item dropdown">
                 <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">athena test</a>
                 <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'athena01:test00' %}">athena00</a>
                    <a class="dropdown-item" href="{% url 'athena01:test01' %}">athena01</a>
                    <a class="dropdown-item" href="{% url 'athena01:test02' %}">athena02</a>
                 </div>
              </li>

              <li class="nav-item dropdown">
                 <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">app</a>
                 <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'app05:daily' %}">日別アクセス表示</a>
                    <a class="dropdown-item" href="{% url 'app05:hourly' %}">時間別アクセス表示</a>
                    <a class="dropdown-item" href="{% url 'app05:dw' %}">曜日別アクセス表示</a>
                 </div>
              </li>


           </ul>
           <ul class="navbar-nav">
              <li class="nav-item">
                 <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">ログアウト</a></li>
              </li>
           </ul>
        </div>
        {% else %}
           <div class="collapse navbar-collapse" id="bs-navi">
           <ul class="navbar-nav mr-auto">

           </ul>
           <ul class="navbar-nav">
              <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">ログイン</a></li>
              <li class="nav-item"><a class="nav-link" href="{% url 'signup' %}">登録</a></li>
           </ul>
        </div>
        {%  endif %}
     </nav>

     <div class="container">
	     {% block content %}
	     {% endblock %}
     </div>
  </body>
{% block javascript2 %}{% endblock %}
</html>
